<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | <li><a href="/birthdayyababy.html">Birthdayyababy</a></li>
 }}">
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <nav>
      <ul>
        <li><a href="{{ "/" | relative_url }}">Home</a></li>
        <li><a href="{{ "/birthdayyababy.html" | relative_url }}">Birthdayyababy</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>

